\( \newcommand{\sech}{\operatorname{sech}} \)

\( \newcommand{\inverse}[1]{#1^\leftarrow} \)

\( \newcommand{\<}{\langle} \)

\( \newcommand{\>}{\rangle} \)

\( \newcommand{\vect}{\mathbf} \)

\( \newcommand{\veci}{\mathbf{\hat ı}} \)

\( \newcommand{\vecj}{\mathbf{\hat ȷ}} \)

\( \newcommand{\veck}{\mathbf{\hat k}} \)

\( \newcommand{\detThree}[9]{
  \operatorname{det}\left(
    \begin{array}{c c c}
    #1 &amp; #2 &amp; #3 \\
    #4 &amp; #5 &amp; #6 \\
    #7 &amp; #8 &amp; #9
    \end{array}
  \right)
} \)
