---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div id="main" class="container">

  <!-- https://gist.github.com/csgruenebe/8f7beef9858c1b8625d6 -->
  <ol class="breadcrumb">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    {% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
    {% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
    {% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
    {% for i in (1..forLoopMaxInt) %}
        {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}
        {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
        {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
        {% for breadcrumb_page in site.pages %}
            {% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}
            {% assign j = forLoopMaxInt | plus: 0 %}
                <li {% if i == j %}class="active"{% endif %}>
                    {% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
                    <a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">
                      {% if breadcrumb_page.breadcrumb %}
                        {{breadcrumb_page.breadcrumb}}
                      {% else %}
                        {{breadcrumb_page.title}}
                      {% endif %}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    {% endfor %}
  </ol>

	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>

  {% capture subpages_list %}
    {% capture page_path %}{{ page.url | remove: "/index.html" }}{% endcapture %}
    {% for subpage in site.pages %}
        {% capture subpage_path %}{{ subpage.url | remove: "/index.html" }}{% endcapture %}
        {% assign subpage_path_array = subpage_path | split: '/' %}
        {% capture subpage_parent_path %}{% for item in subpage_path_array %}{% unless forloop.last %}{{ item }}/{% endunless %}{% endfor %}{% endcapture %}
        {% if page_path == subpage_parent_path  %}
            <li>
              <a href="{{ site.baseurl }}{{subpage_path}}">
                {% if subpage.breadcrumb %}
                  {{subpage.breadcrumb}}
                {% elsif subpage.title %}
                  {{subpage.title}}
                {% else %}
                  {{subpage_path}}
                {% endif %}
              </a>
            </li>
        {% endif %}
    {% endfor %}
  {% endcapture %}
  {% assign subpages_list_stripped = subpages_list | strip %}
  {% unless subpages_list_stripped == "" %}
    <hr>
    <h3>Subpages</h3>
    <ul>
      {{ subpages_list }}
    </ul>
  {% endunless %}
</div>

<hr>
